.EnterpriseSolutionThird {
  text-align: center;
}

.EnterpriseSolutionThird h2 {
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 4rem;
}

.EnterpriseSolutionThird p,
.EnterpriseSolutionThird h3 {
  font-size: 1.1em;
}

.EnterpriseSolutionThird h3 {
  margin-bottom: 2rem;
}

.EnterpriseSolutionThird .download-link {
  font-size: 1em;
  font-weight: 500;
  color: #F2994A;
  border-bottom: 1px solid #F2994A;
  margin: 0 auto;
}

.EnterpriseSolutionThird .download-link:hover {
  border-bottom-color: transparent;
}

