.FrameworkCTA {
  background: #005968;
  color: white;
  /*text-align: center;*/
  padding: 5rem 0;
}

.FrameworkCTA .main-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}

.FrameworkCTA h2 {
  width: 100%;
  margin-bottom: 3rem;
}

.FrameworkCTA .Content {
  width: 90%;
}

.FrameworkCTA .btn {
  min-width: 250px;
}

@media (max-width: 768px) {
  .FrameworkCTA .main-wrap {
    flex-direction: column;
  }

  .FrameworkCTA .main-wrap > div {
    margin-bottom: 3rem;
  }
}
